.blue {
  color: @blue;
}

.pink {
  color: @pink;
}

.teal {
  color: @teal;
}

.tan {
  color: @tan;
}

.orange {
  color: @orange;
}

.purple {
  color: @purple;
}

.fuchsia {
  color: @fuchsia;
}

.green {
  color: @green;
}

.cherry {
  color: @cherry;
}

.silver {
  color: @silver;
}

.white {
  color: @white
}

.yellow {
  color: @yellow
}
.gray_base {
  color: @gray-base;
}
.gray_darker {
  color: @gray-darker;
}
.gray_dark {
  color: @gray-dark;
}
.gray {
  color: @gray;
}
.gray_light {
  color: @gray-light;
}
.gray_lighter {
  color: @gray-lighter;
}
.bg_blue {
  background-color: @blue;
  color: #fff;
}

.bg_pink {
  background-color: darken(@pink, 13%);
  color: #fff;
}

.bg_teal {
  background-color: @teal;
  color: #fff;
}

.bg_tan {
  background-color: @tan;
  color: #fff;
}

.bg_orange {
  background-color: @orange;
  color: #fff;
}

.bg_purple {
  background-color: @purple;
  color: #fff;
}

.bg_fuchsia {
  background-color: @fuchsia;
  color: #fff;
}

.bg_green {
  background-color: @green;
  color: #fff;
}

.bg_cherry {
  background-color: @cherry;
  color: #fff;
}

.bg_silver {
  background-color: @silver;
  color: #fff;
}

.bg_white {
  background-color: @white;
  color: @gray-dark;
}
.bg_yellow {
  background-color: @yellow;
  color: #fff;
}
.bg_gray_base {
  background-color: @gray-base;
  color: #fff;
}
.bg_gray_darker {
  background-color: @gray-darker;
  color: #fff;
}
.bg_gray_dark {
  background-color: @gray-dark;
  color: #fff;
}
.bg_gray {
  background-color: @gray;
  color: #fff;
}
.bg_gray_light {
  background-color: @gray-light;
}
.bg_gray_lighter {
  background-color: @gray-lighter;
}
#unm_search_form .search-query {
  padding: 0 10px;
  margin-top: 3px;
  background-color: #fff;
  border-radius: @border-radius-base;
}
.callout {
  opacity: 0.8;
}
.callout:hover {
  opacity: 1;
}
.btn {
  opacity:.8;
}
.btn:active {
  opacity:1;
}
.btn:hover {
  opacity:1;
}
