
body {
    background: #fff url(../img/losalamos-bg.jpg) top center repeat-x;
}


footer {
    background: #fff url(../img/losalamos-bg.jpg) top center;
}

.navbar-inverse {
    opacity: 0.95;
}
.navbar-toggle {
    padding: 4px 8px;
    margin: 0 13px 0 0;
}
@media(max-width:767px){
    .navbar-toggle {
        padding: 13px 21px;
        margin: 0 13px 0 0;
    }
}
.collapsing {
    background-color: #5E5D60;
}
/** TODO these cause issue with panels **/
.collapse.in {
    background-color: #5E5D60;
}
#unm_search_form {
    margin: 1px 0 1px 0
}
#unm_search_form button.btn {
    background-color: #ededed;
    opacity: .99;
}
.home-page-buttons {margin-top: 5px}
div#header {
    padding: 25px 0;
}

#unm_panel {
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    background-color: #333;
    background-color: rgba(51,51,51,.9);
    color: #FFF;
    display: none;
    z-index: 99;
    padding: 50px 0 20px;
    border-bottom: 5px solid #c10037;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    font-size: 12px
}

#unm_panel h1 {
    font-size: 24px;
    margin: 0 0 15px;
    border-bottom: 1px solid silver;
    padding-bottom: 4px
}

#unm_panel h2 {
    border-bottom: 1px solid #FFF;
    border-color: rgba(255,255,255,.25);
    font-size: 16px;
    margin: 0
}

#unm_panel a {
    color: #fff
}

#unm_panel .media {
    margin: 0;
    padding: 10px;
    background-color: transparent;
    transition: background-color .5s ease
}

#unm_panel .media:hover {
    background-color: rgba(255,255,255,.2)
}

#unm_panel .quicklinks a {
    text-decoration: none
}

.unm_panel_open a .caret,.unm_panel_open a:hover .caret {
    border-top-color: #FFF;
    border-bottom-color: #FFF
}

.unm_panel_open a .caret.up,.unm_panel_open a:hover .caret.up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #FFF;
    border-top: none
}

#unm_weather .current_conditions {
    font-size: 1.25em
}

#unm_weather .current_temp {
    font-size: 3em;
    line-height: 1
}
.no_underline,
.no_underline:hover,
.no_underline:active,
.no_underline:focus,
.no_underline:visited {
    text-decoration: none;
}

.no_underline:hover {
    text-decoration: none;
}


#horz-nav {
    padding-left: 0;
}
#horz-nav > ul > li > a {
    padding-left: 0;
    border-bottom: solid #c10037 1px;
    text-transform: uppercase;
    color: #3E3E40
}
#horz-nav > ul > li {
    padding-left: 0;
}
#horz-nav > ul > li.dropdown:hover  > ul.dropdown-menu
{
    display: block;
}
#carousel-example-generic > a.left.carousel-control > span.fa.fa-chevron-circle-left {
    position: absolute;
    top: 50%;
    left: 15%
}
#carousel-example-generic > a.right.carousel-control > span.fa.fa-chevron-circle-right {
    position: absolute;
    top: 50%;
    right: 15%
}
#carousel-example-generic > div > div.item.active {
    width: 100%;
}
#carousel-example-generic > div > div > div > a {
    color: #fff;
    text-decoration: underline;
}
.carousel-inner{
    width:100%;
}

.callout {
    padding: 5px 15px;
    margin-bottom: 30px;
}

.navbar-form {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#color_swatches > div > div {
    padding: 8px
}

#page-header-image {

}

#page-header-image > div > div > div {
    text-align: left;
    padding: 0 15px 0 15px;
    bottom: 0;
}

#page-header-image > div > div > div > h1.h3 {
    padding: 0;
    margin: 0;
}

/**Datatables custom styles **/
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    background-color: #D8D7D9;
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: none;
    background-color: #D8D7D9;
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    background: none;
    background-color: #D8D7D9;
    border: none;
}

#gallery > div > div > img {
    margin-bottom:20px;
}
/** TODO this is brute force for the demo check the collapse.in CSS **/
.panel-body {
    background-color: #fff;
}
/* CSS Method for adding Font Awesome Chevron Icons */
.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    content:"\f077";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content:"\f078";
}

#new > div > div > a,
#web-application > div > div > a,
#transportation > div > div > a,
#gender > div > div > a,
#file-type > div > div > a,
#spinner > div > div > a,
#form-control > div > div > a,
#payment > div > div > a,
#chart > div > div > a,
#currency > div > div > a,
#text-editor > div > div > a,
#directional > div > div > a,
#video-player > div > div > a,
#brand > div > div > a,
#medical > div > div > a
{
    color: #3E3E40;
    line-height: 32px;
}

.stickynav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #F6F5F5 url(../img/losalamos-bg.jpg) top center repeat-x;
    opacity: .98;
    top: 30px
}

#sidebar-nav {
    padding: 15px;
    background-color: rgba(246,245,245,0.84);
}

@media screen and (max-width: 767px){
    div.dataTables_filter,
    div.dataTables_length
    {
        text-align: left;
    }
}
